  <body>
    <header>
      <div class="header-left">
        <h1>Fall Guysテクニック講座</h1>
      </div>
      <div class="header-rigth">
        <a href="#descriptionlink" class="descriptionlink">Fall Guysとは</a>
        <a href="#operationlink" class="operationlink">操作方法</a>
        <a href="#maplink" class="maplink">マップ別攻略</a>
      </div>
    </header>
    <div class="content">
      <div class="descriptioncontent">
        <a name="descriptionlink" class="description title">Fall Guysとは</a>
        <img src="FallGuys top.jpeg">
        <p class="description-text">
          「Fall Guys」は最大60人で遊ぶことができるマルチプレイパーティーゲームです。最大4人とパーティーを組むことができ、フレンドとも楽しめるゲームです。パーティーゲームとバトルロイヤルの要素が導入されている新しいかたちの新感覚バトルロイヤルです。<br>ラウンドごとにステージが変わりそれぞれに勝ち残れる人数が設定されており、プレイヤーは最終ステージへの生き残りを掛けてゴールを目指すものとなっています。個人競技だけではなく、チーム戦になるものがあり、場合によっては協力しあう必要もあり、他のプレイヤーとの駆け引きも楽めるゲームです。
        </p>
      </div>
      <div class="operationcontent">
        <a name="operationlink">操作方法</a>
      　<div class="operation">
          <p>〇ボタン → ジャンプ</p>
          <p>☐ボタン → ヘッドスライディング</p>
          <p>左スティック → 移動</p>
          <p>右スティック → 視点移動</p>
          <p>十字キー各種 → エモート</p>
        </div>
        <h2>覚えておきたいテクニック</h2>
        <p>ジャンプした後にヘッドスライディングするとできるジャンプヘッスラを覚えておくと行動できる範囲が全然違います。これを使うとジャンプではいけない場所に上れたり、ジャンプ距離を伸ばせたりします。「Fall Guys」の上達を語るにはこのテクニックは欠かせません。初めは必要のないところでも試し、使用感を確かめるのもいいでしょう。</p>
      </div>
        <div class="mapcontent">
          <a  name="maplink"><p>マップ別攻略</p></a>
          <div class="maplist-oneman">
            <h3>>個人戦</h3>
            <%= link_to("ドアダッシュ","/doordash") %>
            <%= link_to("ゲートクラッシュ","/gatecrash") %>
            <%= link_to("フルーツパニック","/fruitpanic") %>
            <%= link_to("ヒットパレード","/hitparade") %>
            <%= link_to("ぐるぐるファイト","/gurugurufight") %>
            <%= link_to("シーソーゲーム","/seesawgame") %>
            <%= link_to("スライムクライム","/slimeclimb") %>
            <%= link_to("スピンレース","/spinrace") %>
            <%= link_to("ヒヤヒヤロード","/hiyahiyaload") %>
            <%= link_to("ロールアウト","/roleout") %>
            <%= link_to("ブロックパーティー","/blockparty") %>
            <%= link_to("ジャンプクラブ","/jumpclub") %>
            <%= link_to("パーフェクトマッチ","/perfectmatch") %>
            <%= link_to("しっぽオニ","/tailoni") %>
          　<%= link_to("クラウンマウンテン","/crownmountain") %>
          　<%= link_to("ロイヤルファンブル","/royalfunble") %>
          　<%= link_to("止まるなキケン","/dontstop") %>
          　<%= link_to("ジャンプ・ショーダウン","/jumpshowdown") %>
          </div>
          <div class="maplist-group">
            <h4>>団体戦</h4>
            <%= link_to("バッドラック","/badluck") %>
            <%= link_to("チームしっぽオニ","/teamtailoni") %>
            <%= link_to("ロックンロール","/rocknroll") %>
            <%= link_to("エッグ・スクランブル","/eggscramble") %>
            <%= link_to("フープ・ループ・ゴール","/hooploopgoal") %>
            <%= link_to("フォールボール","/fallball") %>
            <%= link_to("ためこみ合戦","/tamekomi") %>
          </div>
        </div>
        <div class="endcontent">
          <h5>最後に</h5>
          <p>ここで記載されているテクニックは個人で見つけた再現度が未確定なものがあります。「これが正解！」だというつもりはありません。皆さんそれぞれ見つけたテクニックを実践し、それの手助けをこのサイトでできればと思います。それでは良いFall Guys Lifeをお過ごしください。</p>
          <h6>Let's get Crown!!</h6>
        </div>
      </div>
  </body>
