<body>
  <header>
    <%= link_to("トップページ","/top") %>
  </header>
  <div class="content">
    <div class="contenttitle">
      <h1>ドアダッシュの攻略ポイント</h1>
    </div>
    <div class="contenttext">
      <h2>ポイント1</h2>
      <p>先頭で走るのではなく先頭陣の少し手前でドアを開けてくれるのを待ちましょう。</p>
      <h3>ポイント2</h3>
      <p>1つのドアに人が密集しすぎて溢れかえっている状態があります。これはジャンプへッスラ（※やり方はトップページ参照）で切り抜けましょう。使い溢れかえっている人達の上に乗るようにすると勝手に前へ押し流してくれます。また、これはポイント1を守っているからこそできるテクニックですポイント1を踏まえて行いましょう。</p>
    </div>
  </div>
  <footer>
    <p>マップ一覧</p>
    <%= link_to("ドアダッシュ","/doordash") %>
    <%= link_to("ゲートクラッシュ","/gatecrash") %>
    <%= link_to("フルーツパニック","/fruitpanic") %>
    <%= link_to("ヒットパレード","/hitparade") %>
    <%= link_to("ぐるぐるファイト","/gurugurufight") %>
    <%= link_to("シーソーゲーム","/seesawgame") %>
    <%= link_to("スライムクライム","/slimeclimb") %>
    <%= link_to("スピンレース","/spinrace") %>
    <%= link_to("ヒヤヒヤロード","/hiyahiyaload") %>
    <%= link_to("ロールアウト","/roleout") %>
    <%= link_to("ブロックパーティー","/blockparty") %>
    <%= link_to("ジャンプクラブ","/jumpclub") %>
    <%= link_to("パーフェクトマッチ","/perfectmatch") %>
    <%= link_to("しっぽオニ","/tailoni") %>
  　<%= link_to("クラウンマウンテン","/crownmountain") %>
  　<%= link_to("ロイヤルファンブル","/royalfunble") %>
  　<%= link_to("止まるなキケン","/dontstop") %>
  　<%= link_to("ジャンプ・ショーダウン","/jumpshowdown") %>
    <%= link_to("バッドラック","/badluck") %>
    <%= link_to("チームしっぽオニ","/teamtailoni") %>
    <%= link_to("ロックンロール","/rocknroll") %>
    <%= link_to("エッグ・スクランブル","/eggscramble") %>
    <%= link_to("フープ・ループ・ゴール","/hooploopgoal") %>
    <%= link_to("フォールボール","/fallball") %>
    <%= link_to("ためこみ合戦","/tamekomi") %>
  </footer>
</body>
