<body>
  <header>
    <%= link_to("トップページ","/top") %>
  </header>
  <div class="content">
    <div class="contenttitle">
      <h1>ゲートクラッシュの攻略ポイント</h1>
    </div>
    <div class="contenttext">
      <h2>ポイント1</h2>
      <p>ドアを悩んではいけません。何でもいいので自分の中で1つのドアを決め開くのを待ちましょう。開いているドアを選ぼうとすると間に合わず、むしろタイムロスしてしまいます。このモードはドアの見極め能力より決めたことを疑わないメンタルが大事です。</p>
      <h3>ポイント2</h3>
      <p>最後の下り坂ジャンプで壁にぶつかってしまう人多いですよね？あれは下る前に閉まっている所を目掛けて進むと丁度開いてくれたりします。また、ここで普通のジャンプではなくジャンプへッスラをすることで飛び越えれる確率が上がります。絶対にジャンプへッスラを活用しましょう！！</p>
    </div>
  </div>
  <footer>
    <p>マップ一覧</p>
    <%= link_to("ドアダッシュ","/doordash") %>
    <%= link_to("ゲートクラッシュ","/gatecrash") %>
    <%= link_to("フルーツパニック","/fruitpanic") %>
    <%= link_to("ヒットパレード","/hitparade") %>
    <%= link_to("ぐるぐるファイト","/gurugurufight") %>
    <%= link_to("シーソーゲーム","/seesawgame") %>
    <%= link_to("スライムクライム","/slimeclimb") %>
    <%= link_to("スピンレース","/spinrace") %>
    <%= link_to("ヒヤヒヤロード","/hiyahiyaload") %>
    <%= link_to("ロールアウト","/roleout") %>
    <%= link_to("ブロックパーティー","/blockparty") %>
    <%= link_to("ジャンプクラブ","/jumpclub") %>
    <%= link_to("パーフェクトマッチ","/perfectmatch") %>
    <%= link_to("しっぽオニ","/tailoni") %>
  　<%= link_to("クラウンマウンテン","/crownmountain") %>
  　<%= link_to("ロイヤルファンブル","/royalfunble") %>
  　<%= link_to("止まるなキケン","/dontstop") %>
  　<%= link_to("ジャンプ・ショーダウン","/jumpshowdown") %>
    <%= link_to("バッドラック","/badluck") %>
    <%= link_to("チームしっぽオニ","/teamtailoni") %>
    <%= link_to("ロックンロール","/rocknroll") %>
    <%= link_to("エッグ・スクランブル","/eggscramble") %>
    <%= link_to("フープ・ループ・ゴール","/hooploopgoal") %>
    <%= link_to("フォールボール","/fallball") %>
    <%= link_to("ためこみ合戦","/tamekomi") %>
  </footer>
</body>
