<body>
  <header>
    <%= link_to("トップページ","/top") %>
  </header>
  <div class="content">
    <div class="contenttitle">
      <h1>ジャンプクラブの攻略ポイント</h1>
    </div>
    <div class="contenttext">
      <h2>ポイント1</h2>
      <p>序盤は緑の棒について行きましょう。序盤の緑はそんなに速くありませんベッタリついて後ろから追いかけましょう。後半に集中力を温存するためにも脳死でかまいません。</p>
      <h3>ポイント2</h3>
      <p>中盤緑の棒に追いつけなくなった場合ストーカーする棒を切り替えます。そうピンクの棒ですピンクは緑より遅いためインコースを走ればある程度の時間までは追いつけます。ピンクを追いかけ緑がきたらジャンプする。この繰り返しで中盤は乗り切れます。「え？じゃあピンクにも追いつけなくなったら？」と思う人もいるでしょう。正直そんな時間まで生き残っている人はみんなうまいです。そんな時間まで来ると実力勝負です頑張ってください！！</p>
    </div>
  </div>
  <footer>
    <p>マップ一覧</p>
    <%= link_to("ドアダッシュ","/doordash") %>
    <%= link_to("ゲートクラッシュ","/gatecrash") %>
    <%= link_to("フルーツパニック","/fruitpanic") %>
    <%= link_to("ヒットパレード","/hitparade") %>
    <%= link_to("ぐるぐるファイト","/gurugurufight") %>
    <%= link_to("シーソーゲーム","/seesawgame") %>
    <%= link_to("スライムクライム","/slimeclimb") %>
    <%= link_to("スピンレース","/spinrace") %>
    <%= link_to("ヒヤヒヤロード","/hiyahiyaload") %>
    <%= link_to("ロールアウト","/roleout") %>
    <%= link_to("ブロックパーティー","/blockparty") %>
    <%= link_to("ジャンプクラブ","/jumpclub") %>
    <%= link_to("パーフェクトマッチ","/perfectmatch") %>
    <%= link_to("しっぽオニ","/tailoni") %>
  　<%= link_to("クラウンマウンテン","/crownmountain") %>
  　<%= link_to("ロイヤルファンブル","/royalfunble") %>
  　<%= link_to("止まるなキケン","/dontstop") %>
  　<%= link_to("ジャンプ・ショーダウン","/jumpshowdown") %>
    <%= link_to("バッドラック","/badluck") %>
    <%= link_to("チームしっぽオニ","/teamtailoni") %>
    <%= link_to("ロックンロール","/rocknroll") %>
    <%= link_to("エッグ・スクランブル","/eggscramble") %>
    <%= link_to("フープ・ループ・ゴール","/hooploopgoal") %>
    <%= link_to("フォールボール","/fallball") %>
    <%= link_to("ためこみ合戦","/tamekomi") %>
  </footer>
</body>
