<body>
  <header>
    <%= link_to("トップページ","/top") %>
  </header>
  <div class="content">
    <div class="contenttitle">
      <h1>ロールアウトの攻略ポイント</h1>
    </div>
    <div class="contenttext">
      <h2>ポイント1</h2>
      <p>基本的に2色の床だけ見ればいい！！黄色と紫の床の間に立つようにポジションをとってください。この2つの床を行き来しながらただ立っているだけでクリアできます。例外でとなりの床が急にでっかい穴ができるときがあります。この時は焦らず反対の方の床に逃げて一時避難しましょう。その後、また同じポジションをとってください。</p>
      <h3>ポイント2</h3>
      <p>ポイント1を守ろうとするとタックルしてきたり、故意に掴んできたりしてくる人がいます。そんなヤンチャ坊主がいるのであれば離れるか逆側の黄色と紫色の床ポジをとりましょう。</p>
    </div>
  </div>
  <footer>
    <p>マップ一覧</p>
    <%= link_to("ドアダッシュ","/doordash") %>
    <%= link_to("ゲートクラッシュ","/gatecrash") %>
    <%= link_to("フルーツパニック","/fruitpanic") %>
    <%= link_to("ヒットパレード","/hitparade") %>
    <%= link_to("ぐるぐるファイト","/gurugurufight") %>
    <%= link_to("シーソーゲーム","/seesawgame") %>
    <%= link_to("スライムクライム","/slimeclimb") %>
    <%= link_to("スピンレース","/spinrace") %>
    <%= link_to("ヒヤヒヤロード","/hiyahiyaload") %>
    <%= link_to("ロールアウト","/roleout") %>
    <%= link_to("ブロックパーティー","/blockparty") %>
    <%= link_to("ジャンプクラブ","/jumpclub") %>
    <%= link_to("パーフェクトマッチ","/perfectmatch") %>
    <%= link_to("しっぽオニ","/tailoni") %>
  　<%= link_to("クラウンマウンテン","/crownmountain") %>
  　<%= link_to("ロイヤルファンブル","/royalfunble") %>
  　<%= link_to("止まるなキケン","/dontstop") %>
  　<%= link_to("ジャンプ・ショーダウン","/jumpshowdown") %>
    <%= link_to("バッドラック","/badluck") %>
    <%= link_to("チームしっぽオニ","/teamtailoni") %>
    <%= link_to("ロックンロール","/rocknroll") %>
    <%= link_to("エッグ・スクランブル","/eggscramble") %>
    <%= link_to("フープ・ループ・ゴール","/hooploopgoal") %>
    <%= link_to("フォールボール","/fallball") %>
    <%= link_to("ためこみ合戦","/tamekomi") %>
  </footer>
</body>
