<body>
  <header>
    <%= link_to("トップページ","/top") %>
  </header>
  <div class="content">
    <div class="contenttitle">
      <h1>スピンレースの攻略ポイント</h1>
    </div>
    <div class="contenttext">
      <h2>ポイント1</h2>
      <p>ヘッドスライディングで玉を避けよう。これは玉と壁の隙間をヘッドスライディングの姿勢をうまく利用して避けようというテクニックです。正直慣れが必要ですが。これは地味に強いテクニックです。疑心になっている方は試してみてください。いつの間にかトップとして独走しています。この地味強を体験してもらえばと思います。</p>
      <h3>ポイント2</h3>
      <p>最強のジャンプへッスラを使って転けにくくしましょう。そして、ここの回転台すべての段差をジャンプへッスラで切り抜けましょう。今まで以上に安定するはずです。</p>
    </div>
  </div>
  <footer>
    <p>マップ一覧</p>
    <%= link_to("ドアダッシュ","/doordash") %>
    <%= link_to("ゲートクラッシュ","/gatecrash") %>
    <%= link_to("フルーツパニック","/fruitpanic") %>
    <%= link_to("ヒットパレード","/hitparade") %>
    <%= link_to("ぐるぐるファイト","/gurugurufight") %>
    <%= link_to("シーソーゲーム","/seesawgame") %>
    <%= link_to("スライムクライム","/slimeclimb") %>
    <%= link_to("スピンレース","/spinrace") %>
    <%= link_to("ヒヤヒヤロード","/hiyahiyaload") %>
    <%= link_to("ロールアウト","/roleout") %>
    <%= link_to("ブロックパーティー","/blockparty") %>
    <%= link_to("ジャンプクラブ","/jumpclub") %>
    <%= link_to("パーフェクトマッチ","/perfectmatch") %>
    <%= link_to("しっぽオニ","/tailoni") %>
  　<%= link_to("クラウンマウンテン","/crownmountain") %>
  　<%= link_to("ロイヤルファンブル","/royalfunble") %>
  　<%= link_to("止まるなキケン","/dontstop") %>
  　<%= link_to("ジャンプ・ショーダウン","/jumpshowdown") %>
    <%= link_to("バッドラック","/badluck") %>
    <%= link_to("チームしっぽオニ","/teamtailoni") %>
    <%= link_to("ロックンロール","/rocknroll") %>
    <%= link_to("エッグ・スクランブル","/eggscramble") %>
    <%= link_to("フープ・ループ・ゴール","/hooploopgoal") %>
    <%= link_to("フォールボール","/fallball") %>
    <%= link_to("ためこみ合戦","/tamekomi") %>
  </footer>
</body>
